/*************TAG SELECTORS**********/
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-top-width: thick;
  border-top-color: #EAF6F6;
  width: 3.5%;
}


/*************CLASS SELECTORS**********/
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.pro {
  text-decoration: underline;
}

.programming-img {
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.swimming-img {
  border-radius: 50%;
  width: 60%;
  float: right;
  margin-left: 30px;
}

.profile-img {
  border-radius: 50%;
}

.profile {
  margin: 80px auto;
}

.skills {
  margin: 80px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.contact-me {
  line-height: 2;
}

.bottom-container{
  background-color: #66BFBF;
  line-height: 2;
  padding: 30px;
}

.footer-link{
  color: #11999E;
  margin: 30px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.footer-link:hover{
  color: #EAF6F6;
}

.rights{
  color: #EAF6F6;
  font-size: 0.8rem;
  margin: 20px;
}

.btn{
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  	-webkit-box-shadow: 0px 10px 14px -7px #276873;
  	box-shadow: 0px 10px 14px -7px #276873;
  	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #66d9ff), color-stop(1, #37717a) );
  	background:-moz-linear-gradient( center top, #66d9ff 5%, #37717a 100% );
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#66d9ff', endColorstr='#37717a');
  	background-color:#66d9ff;
  	-webkit-border-top-left-radius:8px;
  	-moz-border-radius-topleft:8px;
  	border-top-left-radius:8px;
  	-webkit-border-top-right-radius:8px;
  	-moz-border-radius-topright:8px;
  	border-top-right-radius:8px;
  	-webkit-border-bottom-right-radius:8px;
  	-moz-border-radius-bottomright:8px;
  	border-bottom-right-radius:8px;
  	-webkit-border-bottom-left-radius:8px;
  	-moz-border-radius-bottomleft:8px;
  	border-bottom-left-radius:8px;
  text-indent:0;
  	display:inline-block;
  	color:#ffffff;
  	font-family:'Montserrat', sans-serif;
  	font-size:20px;
  	font-weight:normal;
  	font-style:normal;
  height:39px;
  	line-height:39px;
  width:164px;
  	text-decoration:none;
  	text-align:center;
  	text-shadow:0px 1px 0px #3d768a;
    margin: 30px auto 50px;
  }

  .btn:hover {
  	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #37717a), color-stop(1, #66d9ff) );
  	background:-moz-linear-gradient( center top, #37717a 5%, #66d9ff 100% );
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#37717a', endColorstr='#66d9ff');
  	background-color:#37717a;
  }

  .btn:active {
  	position:relative;
  	top:1px;
  }
